html, body {
	color: $text-1;

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;

    background: $gray-1;

    margin: 0; 
}

body {
	* {
		//transition: $transition-1;
	}
}

button {
	outline: 0 !important;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform:translateY(0)
	}

	40% {
		-webkit-transform:translateY(-20px)
	}

	60% {
		-webkit-transform:translateY(-10px)
	}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform:translateY(0)
	}

	40% {
		-moz-transform:translateY(-20px)
	}

	60% {
		-moz-transform:translateY(-10px)
	}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-o-transform:translateY(0)
	}

	40% {
		-o-transform:translateY(-20px)
	}

	60% {
		-o-transform:translateY(-10px)
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform:translateY(0)
	}

	40% {
		transform:translateY(-20px)
	}

	60% {
		transform:translateY(-10px)
	}
}
