.btn {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 40px;

	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;

	border: 0;
	border-radius: 10px;

	padding: 0 30px;

	transition: $transition-button;

	&:active, 
	&:focus {
		outline: 0;
	}

	&.btn-icon {
		padding: 0 20px;
	}

	&.btn-primary {
		color: $black;
		background: $primary-2;

		&:hover {
			background: $secondary-1;
		}
	}

	&.btn-secondary {
		color: $black;
		border: 2px solid $primary-2;
		background: transparent;

		&:hover {
			background: $primary-2;
		}
	}

	&.btn-success {
		color: $black;
		background: $success-1;

		&:hover {
			background: $success-2;
		}
	}

	&.btn-home {
		height: 50px;

		color: $white;
		font-size: 16px;
    	font-weight: 700;
    	letter-spacing: 1px;

    	border-radius: 15px;
    	border: 2px solid $white;

		transition: all .2s cubic-bezier(.785, .135, .15, .86);

		&.btn-primary {
			background: rgba(74, 199, 240, 0.6);

			&:hover {
				background: rgba(74, 199, 240, 1);	
			}
		}

		&.btn-secondary {
			background: transparent;

			&:hover {
				background: rgba(74, 199, 240, 1);	
			}
		}
	}

	&.btn-link {
		color: $black;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;

		text-decoration: none !important;
    		
    	padding: 0;

		border-radius: 0;
		border-bottom: 1px solid $black;

		&:hover {
			text-decoration: none !important;
		}

		&.white {
			color: $white;
			border-color: rgba(255,255,255,0.54);
		}
	}

	&.btn-two-line {
		flex-direction: column;

		height: auto;

		padding: 15px 20px;

		.line-1 {
			font-weight: 400;

			margin-bottom: 8px;
		}
	}
}