.card-immobile {
	position: relative;

	text-decoration: none !important;
	border: 0;
	border-radius: 4px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

	overflow: hidden;

	transition: $transition-1;

	@include media-breakpoint-down(md) {
		margin-bottom: 30px;
	}

	.code {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 20px;

		position: absolute;
		top: 8px;
		right: 12px;

		color: $black;
		font-size: 13px;

		border-radius: 4px;
		background: rgba(255, 255, 255, 0.49);

		padding: 0 5px;
	}

	.carousel-control-prev,
	.carousel-control-next {
		border: 0;
		background: none;
		opacity: 0;

		transition: $transition-1;

		i {
			font-size: 60px;
		}

		@include media-breakpoint-down(md) {
			opacity: 1 !important;
		}
	}

	.card-body {
		padding: 20px;

		.location {
			display: flex;

			opacity: 0.5;
			background: url('assets/icons/pin.svg') no-repeat left center;
			background-size: 15px;
			padding-left: 25px;
			
			color: $text-1;

			font-size: 14px;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 17px;
		}

		.title {
			display: flex;
		    align-items: center;
		    margin: 0;

			width: 100%;
			height: 80px;

			overflow: hidden;

			color: $text-4;
			font-size: 16px;
    		font-weight: 700;

		}

		.table {
			width: auto;
			margin: 0 -20px;
			margin-bottom: 20px;

			.row {
				flex-wrap: nowrap;

				.cell {
					display: flex;
					align-items: stretch;
					justify-content: center;
					flex-direction: column;

					height: 100px;

					border-right: 1px solid $ui-2;

					padding: 0;

					&:first-child {
						border-right: 1px solid $ui-2;
					}

					&:last-child {
						border-right: 0;
					}

					.cell-1, 
					.cell-2 {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;

						&.cell-1 {
							height: 60px;

							border-top: 1px solid $ui-2;
							border-bottom: 1px solid $ui-2;
						}

						&.cell-2 {
							height: 40px;

							border-bottom: 1px solid $ui-2;

							opacity: 0.7;

							&.cell-dormitorio {
								background: url('assets/icons/dormitorio.svg') no-repeat center center;
    							background-size: auto 22px;
							}

							&.cell-suite {
								background: url('assets/icons/suite.svg') no-repeat center center;
    							background-size: auto 22px;
							}

							&.cell-garagem {
								background: url('assets/icons/garagem.svg') no-repeat center center;
    							background-size: auto 22px;	
							}

							&.cell-area {
								background: url('assets/icons/area.svg') no-repeat center center;
    							background-size: auto 22px;		
							}
						}
					}


					.cell-label {
						color: $gray-0;

						font-size: 12px;
						font-weight: 600;
	    				line-height: 1;
	    				letter-spacing: 0.5px;

	    				opacity: 0.6;    

	    				margin-bottom: 5px;
					}

					.cell-value {
						color: $gray-0;

						font-size: 16px;
	    				font-weight: 900;

	    				line-height: 16px;
					}
				}
			}
		}

		.price {
			color: $primary-1;

			font-size: 22px;
			font-weight: 700;
		}
	}

	.btn-whats {
		width: 44px;
		height: 44px;

		border: 0;
		border-radius: 50%;
		background: $whats-1;
		background-image: url('assets/icons/whats.svg');
		background-size: 70%;
		background-position: center;
		background-repeat: no-repeat;

		position: absolute;
		bottom: 11px;
		right: -50px;

		transition: $transition-1;
	}

	@include media-breakpoint-up(lg) {
		&:hover {
			box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.32);

			.card-carousel {
				.carousel-control-prev,
				.carousel-control-next {
					opacity: 1;
				}
			}

			.btn-whats {
				right: 18px;

				&:hover {
					box-shadow: 0px 4px 8px rgba(0,0,0,.43);
				}
			}
		}
	}

	&.card-horizontal {
		height: 400px;

		flex-direction: row;

		margin-bottom: 40px;

		.card-carousel {
			width: 50%;

			.carousel-inner {
				height: 100%;

				.carousel-item {
					height: 100%;

					img {
						height: 100%;
					}
				}
			}
		}

		.card-body {
			display: flex;
    		flex-direction: column;

    		width: 50%;

			.location {
			    display: flex;
			    align-items: center;

			    height: 30px;

				margin-bottom: 15px;
			}

			.title {
				height: auto;

				font-size: 22px;

				margin-bottom: 25px;
			}

			.card-text {
				flex: 1;

				color: $gray-0;

				font-size: 13px;
    			font-weight: 500;

    			margin-bottom: 10px;
    			overflow: hidden;
			}
		}

		.btn-whats { 
			bottom: 20px;
		}

		@include media-breakpoint-down(md) {
			flex-direction: column;
			height: auto;

			.card-carousel {
				width: 100%;
				height: 315px;
			}

			.card-body {
				width: 100%;
			}
		}
	}
}