#footer {
	background: $gray-2 no-repeat center bottom;
	background-image: url('assets/img/footer_bg.jpg');
	background-size: 100%;

	border-top: 3px solid $ui-2;

	padding-top: 60px;


	.col-md-4 {
		padding: 0 30px;

		.box {
			padding: 50px 30px;

			background: $primary-2;

			margin-bottom: 20px;

			.box-link {
				display: flex;

				color: $white;
				font-size: 16px;

				border: 0;

				margin-bottom: 10px;

				transition: $transition-1;

				&:last-child {
					margin-bottom: 0;
				}

				&.phone {
					font-size: 22px;
				}

				.icon-handler {
					width: 40px;
				}

				.icon {
					width: 25px;

					&.icon-pin {
						margin-top: 8px;
						width: auto;
						height: 25px;
					}

					.fill {
						fill: $white;
					}
				}

				&:hover {
					font-weight: bold;
				}
			}
		}

		h4 {
			color: $text-3;
		}

		.footer-list-1,
		.footer-list-2, {
			list-style: none;
			padding: 0;
			margin: 0;

			margin-bottom: 30px;

			li {
				a {
					color: $text-6;

					font-size: 13px;
					line-height: 16px;
					border: 0 !important;

					transition: $transition-1;

					&:hover {
						color: $text-2;
					}
				}
			}
		}

		.footer-list-2 {
			margin-top: -30px;
			margin-bottom: 0;
			padding-left: 10px;

			&:last-of-type {
				margin-bottom: 30px;
			}
		}
	}

	@include media-breakpoint-up(md) {
		&.footer-scroll {
			.fixable {
				position: fixed;
				top: 100px;
			}

			.offsetable {
				margin-left: 33.3333333333%;
			}
		}
	}
}