.form-control {
	height: 40px;
	
	color: $text-2;
	font-size: 14px;
	font-weight: 700;

	border-radius: 2px;
	border: 1px solid $ui-3;
	    
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, .025) !important;

	padding: 10px 15px;

	&:focus {
		border-color: $success-2;
	}
}

.form-check {
	display: flex;
	align-items: center;

	padding: 0;

	&:last-child {
		margin-bottom: 0;		
	}

	.form-check-input {
		opacity: 0;
		outline: 0;

		&:checked {
			+ .form-check-label {
				&:before {
					background-color: $primary-2;
    				border-color: $black;
				}

				&:after {
					color: $black;
					font-family: 'Material Icons';
				    font-size: 1.25em;
				    content: "\e5ca";
				}
			}

			&:hover {
				+ .form-check-label {
					&:before {
						background-color: $primary-1;
	    				border-color: $black;
					}

					&:after {
					}
				}					
			}

			&:focus {
				+ .form-check-label {
					&:before {
						border-color: $primary-1 !important;
						box-shadow: 0 0 0 1px $primary-1;
					}
				}
			}

			&:disabled {
				+ .form-check-label {
					color: $text-3;
					
		        	&:before {
						background-color: $ui-1;
	    				border-color: $ui-1;
					}

					&:after {
						content: "";
					}
		      	}
			}
		}

		&:focus {
			+ .form-check-label {
				&:before {
					border-color: $primary-1;
					box-shadow: 0 0 0 1px $primary-1;
				}
			}
		}

		&:disabled {
	      	+ .form-check-label {
	        	&:before {
		        	border-color: $ui-1;
	        	}
	      	}
	    }
	}

	.form-check-label {
		display: inline-flex;
	    position: relative;

	    color: $text-1;

	    cursor: pointer;

	    &:before {
	    	content: "";
		    display: inline-flex;
		    flex: 0 0 20px;
		    
		    width: 20px;
		    height: 20px;

		    border: 1px solid $black;
		    border-radius: 1px;
		    background: transparent;

		    position: relative;
		    top: 0.1em;
		    margin-right: .5em;
		    vertical-align: top;
		    cursor: pointer;
		    text-align: center;
		    -webkit-transition: all 300ms ease;
		    -o-transition: all 300ms ease;
		    transition: all 300ms ease;
	    }

	    &:after {
	    	width: 20px;
		    height: 20px;

	    	display: inline-flex;

		    position: absolute;
		    top: -3px;
		    left: 0;

		    margin-right: .5em;
	    }

	    &:hover {
      		&:before {
      			
      		}
      	}

      	&:focus {
      		outline: 0;
		}
	}
}