#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	z-index: 40;

	.navbar {
		padding: 0 20px;
		padding-top: 50px;

		transition: $transition-1;

		.navbar-brand {
			margin: 0;
			padding: 0;
			padding-left: 20px;

			border: 0 !important;


			img {
				height: 45px;
			}
		}

		.navbar-nav {
			margin-left: auto;

			.nav-item {
				.nav-link {
					color: $white;

					font-size: 13px;
    				font-weight: 500;
    				letter-spacing: 0.5px;
    				text-transform: uppercase;

    				background: transparent;
    				border: 0;
					padding: 0;
					margin: 0 10px;

					border-bottom: 4px solid transparent;

					padding-bottom: 4px;
					margin-bottom: -8px;

					transition: $transition-1;

					&:hover {
						border-bottom-color: $primary-2;
					}
				}

				.dropdown-menu {
					display: block;

					margin: 0;
				    border-radius: 0;
				    border: 0;
				    padding: 0;

				    top: 27px;
				    left: -40px;

				    background: $primary-2;

				    max-height: 0;
			    	overflow: hidden;
			    	opacity: 0;

			    	transition: $transition-dropdown;

			    	.dropdown-inner {
			    		padding: 20px;

			    		.dropdown-item {
					    	height: 35px;

					    	color: $text-2;
					    	font-size: 13px;
	    					font-weight: 500;
						    line-height: 35px;
						    text-transform: uppercase;
						    letter-spacing: 0.5px;

						    padding: 0 10px;

						    &:hover,
						    &:focus,
						    &:active {
						    	color: $black;
	    						font-weight: 700;
	    						background: transparent;
						    }
					    }
			    	}
				}

				&:hover {
					.dropdown-menu {
						max-height: 1000px;
						opacity: 1;
					}
				}
			}
		}
	}

	&.fixed {
		.navbar {
			height: 70px;
    		padding-top: 0;
    		background: rgba(0,0,0,0.75);
    		border-bottom: 1px solid rgba(246, 246, 246, 0.3);
		}
	}

	//responsive
	@include media-breakpoint-down(md) {
		&,
		&.fixed {
			.navbar {
				width: 100%;
				height: 60px;

				padding-top: 0;
				padding-right: 0;

				background: $black;
				border-bottom: 1px solid $ui-2;

				.navbar-brand {
					margin-left: 0;

					img {
						height: 30px;
					}
				}

				.navbar-nav {
					position: fixed;
					top: 60px;
					left: 0;
					right: 0;
					bottom: 100%;

					background: $text-3;

					margin: 0;
					padding: 0;
					//padding-top: 50px;
					//padding-left: 20px;
					

					overflow-x: hidden;
					overflow-y: auto;
					transition: $transition-dropdown;

					&.show {
						bottom: 0;
					}

					.nav-item {
						padding-left: 20px;
						margin-bottom: 10px;

						&:first-child {
							margin-top: 50px;
						}

						.nav-link {
							color: $primary-2;

							font-size: 18px;
							font-weight: 400;
							text-transform: none;

							border: 0;
							margin: 0;

							&.dropdown-toggle {
								&:after {
									display: none;
								}
							}

							&:hover {
							}
						}

						.dropdown-menu {
							position: static;

							background: transparent;

							max-height: none;
							opacity: 1;

							margin-bottom: 20px;

							.dropdown-inner {
								padding: 0;

								.dropdown-item {
									color: $white;

									font-size: 14px;
									font-weight: 400;
									text-transform: none;

									padding-left: 20px;

									&:hover {
										color: $white;

										font-size: 14px;
										font-weight: 400;
									}
								}
							}
						}

						&:hover {
							.dropdown-menu {
								max-height: none;
								opacity: 1;
							}
						}
					}
				}

				.btn-menu-toggle {
					display: flex;
					align-items: center;
					justify-content: flex-end;

					width: 60px;
					height: 100%;

					border: 0;
					background: transparent;
					padding-left: 0;
					padding-right: 20px;

					i {
						color: $white;
						font-size: 42px;
					}
				}
			}
		}
	}
}	