.modal-contact {
	padding: 0 !important;
	
	.modal-content {
		background: $primary-2;
		border: 1px solid $white;
		border-radius: 10px;
	}

	.close {
	    position: absolute;
	    right: 28px;
	    top: 5px;

	    font-size: 28px;

	    opacity: 1;
	    text-shadow: none;

	    z-index: 110;
	}

	.modal-body {
		padding: 30px;

		@include media-breakpoint-up(lg) {
			position: fixed;

			top: 160px;

			z-index: 3;
		}

		@include media-breakpoint-down(md) {
			margin-bottom: 90px;
		}

		.phone-handler {
			display: flex;
			align-items: center;

			margin-bottom: 20px;

			background: url('assets/img/phone-gradient.png') no-repeat center top;
    		background-size: 100% 100%;

    		position: relative;

			overflow: hidden;

			.phone {
				color: $white;
				font-size: 22px;
			    font-weight: 700;
			    white-space: nowrap;
				
				border: 0 !important;

    			overflow: hidden;

    			transition: $transition-1;

    			&.show {
    				width: auto;
    			}

				.icon {
					height: 30px;

					margin-right: 4px;
				}
			}

			.btn {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				width: 100%;
				height: 100%;

				position: absolute;
			    right: 0;
			    left: auto;

			    background: url('assets/img/phone-gradient.png') no-repeat center top;
			    background-size: 120% 100%;
			    white-space: nowrap;
			    
			    border: 0;
			    padding: 0;

			    z-index: 3;

			    transition: $transition-1;

			    &.hide {
			    	right: 100%;
			    }
			}
		}

		.label {
			color: $white;
		    font-size: 18px;
		    font-weight: 700;

		    margin-bottom: 10px;
		}

		form {
			.form-control {
				margin-bottom: 10px;
			}

			textarea {
				height: 100px;
				resize: none;

				margin-bottom: 15px !important;
			}

			.btn-submit {
				width: 100%;

				color: $white;
			}
		}
	}
}