#order {
	background: $ui-2;
	height: 640px;

	position: relative;

	.video-wrapper {
		width: 660px;
		height: 335px;

		border: 10px solid $white;
		margin-left: -10px;

		position: absolute;
	    top: 120px;

	    z-index: 30;

	    iframe {
	    	width: 100%;
	    }
	}

	.order-inner {
		width: 60%;
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;

		background: $white;
		padding: 30px 50px;

		.order-title {
			color: $primary-2;
			text-align: left;

    		margin: 0;
    		padding: 0;
    		border: 0;

    		&:before,
    		&:after {
    			display: none;
    		}
		}

		p {
			color: $text-2;
			font-size: 14px;
    		font-weight: 400;
		}

		.btn {
			margin-left: 120px;
			margin-right: 100px;
		}

		.carousel {
			padding-left: 120px;
			padding-right: 100px;

			margin-bottom: 20px;

			.carousel-inner {
				padding-bottom: 60px;

				.carousel-item {
					height: auto;
					
					position: relative;

					padding-top: 40px;

					p {
						color: $black;
						font-size: 18px;
		    			line-height: 26px;

		    			margin-bottom: 30px;
					}

					.author {
						color: $black;
						font-size: 18px;
						font-weight: 600;
					}
				}
			}

			.carousel-indicators {
				justify-content: flex-start;

			    left: 120px;
			    bottom: 20px;

			    margin: 0 !important;

				li {
					width: 15px;
				    height: 15px;

				    border-radius: 50%;
				    background: $black;
				    border: 2px solid #000;

				    padding: 0;
				    margin: 0;
				    margin-right: 15px;
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		display: flex;
		flex-direction: column;

		height: auto;

		background: $white;

		.video-wrapper {
			order: 2;

			position: static;
			width: auto;

    		margin: 0;
    		margin-top: 30px;
		}

		.order-inner {
			order: 1;

			position: static;

			width: 100%;
			height: auto;

			padding-bottom: 0px;

			.order-title {
				text-align: center;
				line-height: 1;

    			margin-bottom: 20px;
			}

			p {
				text-align: center;
			}

			.btn {
				margin: 0;
			}
		}

		.carousel {
			display: none;
		}
	}
}