.pagination {
	width: 100%;
    flex-wrap: wrap;

	.page-item {
		.page-link {
			display: flex;
		    align-items: center;
		    justify-content: center;

			width: 32px;
			height: 32px;

			color: $text-2;
			background: $white;

			border: 1px solid $white;
			border-radius: 0;

			margin-right: 8px;
			margin-bottom: 8px;

			transition: $transition-1;

			&:hover {
				border-color: $primary-2;
			}
		}

		&.active {
			.page-link {
				color: $text-2;

				border-color: $primary-2;
				background: $primary-2;
			}
		}
	}
}