.scrollToTop {
	position: fixed;
	right: 30px;
	bottom: 20px;

	width: 50px;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: $black;
	border: 0;
	border-radius: 4px;

	box-shadow: $shadow-2;

	z-index: 100;

	transition: $transition-1;

	&:hover {
		box-shadow: $shadow-3;	
	}

	&.hide {
		bottom: -100px;
	}

	i {
		color: $primary-2;
		font-size: 32px;
	}
}