.team {
	display: flex;
	flex-wrap: wrap;

	.member {
		width: 33.333%;
		height: 33vw;

		position: relative;

		overflow: hidden;

		img {
			position: absolute;

			height: 100%;
    		width: 100%;

    		filter: grayscale(100%);
		}

		.member-data {
			display: flex;
		    flex-direction: column;

		    width: 100%;

		    position: absolute;
		    bottom: -200px;

		    background: rgba(0,0,0,0.8);

			padding: 20px;

			z-index: 2;

			transition: bottom 0.3s ease, opacity 0.2s ease;

			.member-name {
				color: $primary-2;
				font-size: 18px;
			    font-weight: 700;
			    letter-spacing: 1px;

			    padding-bottom: 10px;
			    margin-bottom: 10px;

			    border-bottom: 1px solid $primary-2;
			}

			.member-info {
			    color: $white;
			    font-size: 12px;
				line-height: 14px;

				opacity: 0.7;

				margin-bottom: 8px;
			}

			.member-phone,
			.member-mail {
				display: flex;
				align-items: center;
				align-self: flex-start;

				height: 32px;

				color: $white;
				font-size: 14px;
				font-weight: 800;

				transition: all 0.2s ease;

				&:hover {
					color: $black;
					background: $white;

					padding: 0 10px;
				}
			}
		}

		&:hover {
			img {
				filter: grayscale(0);
			}

			.member-data {
				bottom: 0;
			}
		}

		@include media-breakpoint-down(md) {
			width: 100%;
			height: 100vw;

			img {
				filter: grayscale(0);
			}

			.member-data {
				bottom: 0;
			}
		}
	}
}