h1 {
	font-size: 38px;
}

.display-1 {
	font-size: 42px;
    font-weight: 900;
    line-height: 52px;
    letter-spacing: 1px;
}

.display-2 {
	font-size: 38px;
   	font-weight: 900;
}

h2 {
	font-family: 'Poppins';
	font-size: 29px;
	font-weight: 600;
	letter-spacing: -1.45px;
}

h3 {
	font-size: 24px;
	font-weight: 900;
}

h4 {
	font-size: 16px;
	font-weight: 900;
}