#contact {
	padding-top: 70px;

	@include media-breakpoint-down(md) { 
		padding-top: 60px;
	}
	
	#header {
		@extend .fixed;
	}

	.box {
		.box-link {
			display: flex;

			color: $black;
			font-size: 16px;

			border: 0;

			margin-bottom: 10px;

			transition: $transition-1;

			&:last-child {
				margin-bottom: 0;
			}

			&.phone {
				font-size: 22px;
			}

			.icon-handler {
				width: 40px;
			}

			.icon {
				width: 25px;

				&.icon-pin {
					margin-top: 8px;
					width: auto;
					height: 25px;
				}

				.fill {
					fill: $black;
				}
			}

			&:hover {
				font-weight: bold;
			}
		}
	}

	.contact-inner {
		display: flex;

		width: 100%;

		h2 {
			color: $text-5;	//aqui
		}

		.c-1 {
			width: 450px;

			padding: 72px;
			background: $gray-1;

			hr {
				margin-top: 34px;
				margin-bottom: 35px;

				border-color: $ui-3;
			}
		}

		.c-2 {
			flex: 1;

			padding: 72px;
			background: $gray-3;

			hr {
				margin-top: 34px;
				margin-bottom: 35px;
				
				border-color: $ui-3;
			}

			form {
				textarea {
					height: 120px;
					resize: none;
				}

				.btn-success {
					width: 100%;
				}
			}
		}
	}
}