#home {
	h2 {
		color: $text-5;
		text-align: center;

		padding-bottom: 30px;
		margin-bottom: 30px;

		position: relative;

		&:after {
			content: ' ';

			width: 90px;
			height: 5px;

			background: $text-5;

			position: absolute;
			left: 50%;
			bottom: 0;

			margin-left: -45px;
		}
	}

	.jumbotron {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		margin: 0;
		padding: 0;
		border-radius: 0;

		position: relative;

		overflow: hidden;

		.background-mobile {
			display: none;
		}

		#homeVideo {
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			object-fit: cover;

			z-index: 2;
		}

		.jumbotron-inner {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			max-width: 500px;
			height: 100vh;

			position: relative;

			z-index: 3;

			h1 {
				color: $white;
				font-weight: 100;
			    text-align: center;

			    border-bottom: 1px solid $white;
			    padding-bottom: 20px;
			    margin-bottom: 20px;

			    strong {
			    	font-weight: 900;
			    }

			    @include media-breakpoint-down(xs) { 
			    	font-size: 26px;
			    	line-height: 32px;

			    	border-bottom: 0;
			    	padding-bottom: 0;
			    }
			}

			.lead {
				color: $white;

			    font-size: 14px;
			    text-align: center;
			    letter-spacing: 1px;

			    @include media-breakpoint-down(xs) { 
			    	display: none;
			    }
			}

			.jumbotron-actions {
				display: flex;
				align-items: center;
				justify-content: space-between;

				width: calc(100% + 190px);

				margin-top: 50px;

				.btn {
					width: 320px;
				}

				@include media-breakpoint-down(md) { 	
					width: 100%;

					.btn {
						margin-right: 20px;

						&:last-child {
							margin-right: 0;							
						}
					}
				}

				@include media-breakpoint-down(xs) { 
					flex-direction: column;

					.btn {
						margin-right: 0;
						margin-bottom: 20px;

						&:last-child {
							margin-bottom: 0;							
						}
					}
				}
			}

			.jumbotron-mouse {
				position: absolute;
				bottom: 30px;
				border: 0;
				background: transparent;

				visibility: visible;
    			opacity: 1;

				animation: bounce 2s infinite;
			    -webkit-animation: bounce 2s infinite;
			    -moz-animation: bounce 2s infinite;
			    -o-animation: bounce 2s infinite;

			    transition: $transition-1;

			    &.hide {
			    	display: none;
			    	opacity: 1;
			    	visibility: hidden;
			    }

				@include media-breakpoint-down(md) {
					display: none;
				}
			}

		}

		.jumbotron-footer {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			padding-bottom: 30px;

			z-index: 3;

			@include media-breakpoint-down(xs) {
				padding-bottom: 10px;
			}

			.search {
				display: flex;
			    flex-direction: column;

				width: 940px;

				.search-form {
					display: flex;
					align-items: center;

					width: 100%;

					background: rgba(255,255,255,0.7);
    				border-radius: 5px;

    				.search-container {
    					display: flex;
						align-items: center;
						flex-direction: column;
						flex: 1;

						.search-row {
	    					display: flex;
	    					width: 100%;
	    					flex: 1;

	    					&.collapse {
	    						display: none;

	    						&.show {
	    							display: flex;
	    						}
	    					}

	    					.search-col {
	    						display: flex;
	    						flex-direction: column;

	    						width: 33.333%;

	    						padding: 10px;

	    						border-right: 1px dotted rgba(0,0,0,0.16);

	    						&.flex-1 {
	    							width: auto;
	    							flex: 1;
	    						}

	    						&:last-child {
	    							border-right: 0;
	    						}

	    						label {
	    							font-size: 13px;
	    							text-transform: uppercase;
	    						}

	    						.form-control {
	    							margin: 0;
	    						}

	    						select, .form-control {
	    							width: 100%;
	    							height: 40px;

	    							color: $text-3;
	    							font-size: 14px;
								    font-weight: 500;

								    background: $white;
								    border-radius: 5px;
								    border: 0;

								    padding-left: 15px;
	    						}
	    					}
	    				}
    				}

    				.btn {
    					height: 40px;
    					margin: 0 10px;

    					color: $black;
    					font-size: 14px;
    					font-weight: 600;
    					text-transform: uppercase;

    					border-radius: 5px;
					    border: 1px solid $black;
					    background: $primary-2;

					    padding-right: 20px;

					    i {
					    	margin-right: 5px;
					    }

					    &:hover {
					    	background: $primary-1;
					    }
    				}

    				@include media-breakpoint-down(md) {
    					flex-direction: column;
    					
    					width: auto;
    					margin: 0 20px;

    					.search-container {
    						width: 100%;

    						.search-row {
    							flex-direction: column;

    							&.collapse {
    								border-top: 1px dotted #000;
    								margin-top: 20px;
    							}

    							.search-col {
    								width: 100%;
    								padding-bottom: 0;
    							}
    						}
    					}

    					.btn {
    						margin: 20px 0px;
    					}
    				}
				}

				.btn-link {
					align-self: center;
					margin-top: 10px;
				}
			}
		}
	}

	.spotlight {
		padding-top: 70px;
		padding-bottom: 165px;
	}


	.last-properties {
		padding-top: 70px;
		padding-bottom: 100px;
	}

	.grid {
		display: flex;

		@include media-breakpoint-down(md) {
			display: none;
		}

		.grid-column {
			display: flex;
    		flex-wrap: wrap;

			width: 50%;

			.grid-cell {
				display: flex;
				align-items: center;
				justify-content: center;

				border: 3px solid $white;

				text-decoration: none;

				position: relative;

				overflow: hidden;

				cursor: pointer;

				&.large {
					width: 100%;
					height: 550px;
					background: pink;
				}

				&.small {
					width: 50%;
					height: 275px;
				}

				img {
					position: absolute;

					z-index: 1;
				}

				.bg {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;

					background: rgba(0, 0, 0, 0.48);

					z-index: 2;

					transition: background 0.3s ease-in-out;
				}

				h3 {
					color: $white;
					font-size: 26px;
				    font-weight: 900;
				    text-align: center;

				    transition: font-size 0.2s ease-in-out;

				    z-index: 2;
				}

				&:hover {
					.bg {
						background: rgba(0, 0, 0, 0.8);
					}

					h3 {
						font-size: 32px;
					}
				}
			}
		}
	}

	.about {
		padding-top: 70px;
		padding-bottom: 165px;
		background: $white;

		.about-inner {
			justify-content: center;
			align-items: center;

			p {
				font-size: 14px;
				line-height: 22px;
				text-align: center;
    			
    			margin-top: 40px;
    			margin-bottom: 70px;
			}
		}

		.media {
			display: flex;
    		align-items: center;

			list-style: none;
			margin: 0;
			padding: 0;

			margin-top: 50px;

			.media-item {
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 1;

				margin: 0 60px;

				.media-link {
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						max-width: 100%;
					}
				}
			}

			@include media-breakpoint-down(md) {
				flex-direction: column;

				.media-item {
					margin: 50px 0;
					padding: 0 80px;
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		.jumbotron {
			#homeVideo {
				display: none;
			}

			.background-mobile {
				display: block;
				height: 100%;

				position: absolute;
				
			    object-fit: contain;
			}
		}
	}
}