#immobile {
	padding-top: 160px;

	#header {
		@extend .fixed;
	}

	.code {
		height: 25px;

		font-size: 14px;

		padding-left: 20px;
		padding-bottom: 5px;

		margin-top: -25px;
	}

	.card-in {
		background: $gray-2;
		border-radius: 10px;
		border: 0;

		margin-bottom: 95px;

		@include media-breakpoint-down(md) {
			margin-bottom: 30px;
		}

		.card-header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			background: transparent;
			border: 0;

			padding: 20px;
			padding-bottom: 0px;

			.title {
				font-size: 22px;
			    line-height: 28px;
			    font-weight: 900;

			    margin: 0;
			    margin-right: 20px;
			}

			.price {
				display: flex;
				align-items: center;

				height: 48px;

				color: $white;
			    font-size: 26px;
			    font-weight: bold;
			    white-space: nowrap;
			    
			    border-radius: 5px;
				background: $primary-2;

				padding: 0 20px;
			}

			.promotion {
				display: flex;
				align-items: flex-end;
				flex-direction: column;

				.from {
					display: flex;
					align-items: center;
					justify-content: flex-end;

					margin-bottom: 10px;

					.label {
						color: $text-4;
						font-size: 14px;
    					font-weight: 900;

    					margin-right: 10px;
					}

					.price {
						height: 40px;

						display: flex;
						align-items: center;

						color: $text-6;
						font-size: 18px;
						font-weight: 600;
						text-decoration: line-through;
						white-space: nowrap;

						border: 2px solid $ui-2;
						border-radius: 5px;
						background: transparent;

						padding: 0 20px;
					}
				}

				.to {
					display: flex;
					align-items: center;
					justify-content: flex-end;

					.label {
						color: $text-4;
						font-size: 14px;
    					font-weight: 900;

    					margin-right: 10px;
					}

					.price {
						height: 40px;

						display: flex;
						align-items: center;

						color: $white;
						font-size: 22px;
						font-weight: 600;
						white-space: nowrap;

						border-radius: 5px;
						background: $primary-2;

						padding: 0 20px;
					}
				}
			}

			@include media-breakpoint-down(xs) {
				flex-direction: column;
				align-items: flex-start;

				.title {
					margin-right: 0;
					margin-bottom: 20px;
				}

				.promotion {
					align-items: flex-start;
				}
			}
		}

		.card-body {
			display: flex;
			align-items: flex-start;
			flex-direction: column;

			padding: 20px;

			.nav-tabs {
				width: 100%;
				border-bottom: 1px solid $ui-2;

				.nav-item {
					.nav-link {
						display: flex;
    					align-items: center;

						height: 40px;

						color: $text-6;
						font-size: 14px;
    					font-weight: 900;
    					text-transform: uppercase;

    					border-color: $ui-2;
    					border-top-left-radius: 5px;
    					border-top-right-radius: 5px;

						padding-left: 10px;
						padding-right: 20px;

						margin-right: 10px;

						transition: $transition-1;

						.icon {
							margin-right: 10px;

							.fill {
								fill: $text-6;

								transition: $transition-1;
							}
						}

						&:hover {
							color: $text-2;

							.icon {
								.fill {
									fill: $text-2;
								}
							}
						}

						&.active {
							color: $text-2;
							border-bottom-color: $white;

							.icon {
								.fill {
									fill: $text-2;
								}
							}
						}
					}

					@include media-breakpoint-down(xs) {
						max-width: 50%;
						width: 50%;

						.nav-link {
							display: flex;
						    align-items: center;
						    justify-content: center;

							width: 100%;
						    
						    overflow: hidden;
						    text-align: center;
						    text-overflow: ellipsis;
						    white-space: nowrap;

						    padding-right: 10px;

							.icon {
								display: none;
							}
						}		
					}
				}
			}

			.tab-content {
				width: 100%;
				
				background: $white;
				border: 1px solid $ui-2;
				border-top: 0;

				padding: 10px;

				margin-bottom: 20px;
			}

			.table {
				width: 100%;
				margin-bottom: 20px;

				background: $white;

				border-left: 1px solid $ui-2;
				border-right: 1px solid $ui-2;

				.row {
					flex-wrap: nowrap;

					.cell {
						display: flex;
						align-items: stretch;
						justify-content: center;
						flex-direction: column;

						height: 100px;

						border-right: 1px solid $ui-2;

						padding: 0;

						&:first-child {
							border-right: 1px solid $ui-2;
						}

						&:last-child {
							border-right: 0;
						}

						.cell-1, 
						.cell-2 {
							display: flex;
							align-items: center;
							justify-content: center;
							flex-direction: column;

							&.cell-1 {
								height: 60px;

								border-top: 1px solid $ui-2;
								border-bottom: 1px solid $ui-2;
							}

							&.cell-2 {
								height: 40px;

								border-bottom: 1px solid $ui-2;

								opacity: 0.7;

								&.cell-dormitorio {
									background: url('assets/icons/dormitorio.svg') no-repeat center center;
	    							background-size: auto 22px;
								}

								&.cell-suite {
									background: url('assets/icons/suite.svg') no-repeat center center;
	    							background-size: auto 22px;
								}

								&.cell-garagem {
									background: url('assets/icons/garagem.svg') no-repeat center center;
	    							background-size: auto 22px;	
								}

								&.cell-area {
									background: url('assets/icons/area.svg') no-repeat center center;
	    							background-size: auto 22px;		
								}
							}
						}


						.cell-label {
							color: $gray-0;

							font-size: 12px;
							font-weight: 600;
		    				line-height: 1;
		    				letter-spacing: 0.5px;

		    				margin-bottom: 5px;
						}

						.cell-value {
							color: $black;

							font-size: 16px;
		    				font-weight: 900;

		    				line-height: 16px;
						}
					}
				}
			}

			.location-tab {
				.address {
					display: flex;
					align-items: center;

					margin-top: 5px;
					margin-bottom: 10px;

					.icon {
						height: 22px;

						margin-right: 8px;

						.fill {
							fill: $text-5;
						}
					}
				}

				.map {
					height: 400px;
					background: $ui-3;
				}
			}

			.collapse {
				display: block;
				min-height: 300px;
				height: 300px;
				overflow: hidden;

				&.show {
					height: auto !important;
				}

				.card-text {
					margin-bottom: 40px;
				}

				.card-info {
					ul {
						padding-left: 20px;
					}

					hr {
						border-color: $text-2;
						margin: 25px 0;
					}
				}
			}

			.btn-collapse-toggle {
				height: auto;

				color: $black;
				font-size: 16px;
			    font-weight: 600;

			    border-bottom: 1px solid $black;

			    margin-top: 5px;
			}

			.card-actions {
				display: flex;
				justify-content: center;

				width: 100%; 

				padding: 50px 0;

				.btn {
					width: 60%;
				}
			}
		}
	}

	.card-contact {
		background: $primary-2;
		border: 1px solid $white;
		border-radius: 10px;

		padding: 30px;

		@include media-breakpoint-up(lg) {
			position: fixed;

			top: 160px;

			z-index: 3;
		}

		@include media-breakpoint-down(md) {
			margin-bottom: 90px;
		}

		.phone-handler {
			display: flex;
			align-items: center;

			margin-bottom: 20px;

			background: url('assets/img/phone-gradient.png') no-repeat center top;
    		background-size: 100% 100%;

    		position: relative;

			overflow: hidden;

			.phone {
				color: $white;
				font-size: 22px;
			    font-weight: 700;
			    white-space: nowrap;
				
				border: 0 !important;

    			overflow: hidden;

    			transition: $transition-1;

    			&.show {
    				width: auto;
    			}

				.icon {
					height: 30px;

					margin-right: 4px;
				}
			}

			.btn {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				width: 100%;
				height: 100%;

				position: absolute;
			    right: 0;
			    left: auto;

			    background: url('assets/img/phone-gradient.png') no-repeat center top;
			    background-size: 120% 100%;
			    white-space: nowrap;
			    
			    border: 0;
			    padding: 0;

			    z-index: 3;

			    transition: $transition-1;

			    &.hide {
			    	right: 100%;
			    }
			}
		}

		.label {
			color: $white;
		    font-size: 18px;
		    font-weight: 700;

		    margin-bottom: 10px;
		}

		form {
			.form-control {
				margin-bottom: 10px;
			}

			textarea {
				height: 100px;
				resize: none;

				margin-bottom: 15px !important;
			}

			.btn-submit {
				width: 100%;

				color: $white;
			}
		}
	}

	.related {
		padding-top: 70px;
		padding-bottom: 150px;

		background: $ui-1;

		position: relative;
		z-index: 4;

		h2 {
			padding-bottom: 30px;
    		margin-bottom: 30px;
    		
    		position: relative;

			&:after {
			    content: " ";
			    width: 90px;
			    height: 5px;
			    background: $text-5;
			    position: absolute;
			    left: 50%;
			    bottom: 0;
			    margin-left: -45px;
			}
		}

		.btn-related {
			margin-top: 70px;

			width: 400px;
			max-width: 100%;
		}
	}

	#order {
		background: $ui-3;

		position: relative;
		z-index: 4;
	}

	#footer {
		position: relative;
		z-index: 4;
	}
}