#list {
	padding-top: 70px;

	#header {
		@extend .fixed;
	}

	@include media-breakpoint-down(md) {
		.scrollToTop {
			bottom: 80px;
		}
	}

	main {
		padding-bottom: 200px;

		@include media-breakpoint-down(md) {
			padding-bottom: 80px;
		}

		.filter-handler {
			padding-top: 65px;
			position: relative;

			@include media-breakpoint-down(md) {
				position: fixed;
				top: 1000px;
			    bottom: 60px;

			    background: white;
			    z-index: 200;
			    	
			    padding-top: 15px;
			    padding-bottom: 30px;

			    overflow-y: auto;

			    transition: $transition-dropdown;

			    &.show {
			    	top: 0;
			    }
		    }

		    .close {
		    	position: absolute;
			    top: 30px;
			    right: 30px;

			    opacity: 1;

			    text-shadow: none;
		    }

			.filter {
				background: $gray-3;
				border: 1px solid $ui-2;
				border-radius: 10px;

				overflow: hidden;

				.filter-main {
					background: $primary-2;
					border: 1px solid $white;
					border-radius: 10px;

					padding: 30px;
					padding-top: 45px;

					margin-bottom: 20px;

					.filter-main-row {
						margin-bottom: 20px;

						label {
							font-size: 18px;
						    font-weight: 700;

						    margin-bottom: 8px;
						}

						select {
							width: 100%;
							height: 40px;

							color: $text-2;
							font-size: 14px;
							font-weight: 700;

							border-radius: 2px;
							border: 0;

							padding: 10px;
						}

						.filter-btn-group {
							display: flex;
							justify-content: space-between;

							.filter-btn {
								display: flex;
								align-items: center;
								justify-content: center;

								width: 40px;
    							height: 40px;
    		
    							color: $black;
    							font-size: 16px;
							    font-weight: 500;

							    border: 2px solid $black;
							    border-radius: 50%;
							    background: transparent;
    	
    							margin-right: 7px;

    							transition: $transition-button;

    							&:last-child {
    								margin-right: 0;
    							}

    							&:hover {
    								background: rgba(0, 0, 0, 0.2);
    							}

    							&.active {
    								color: $primary-2;
    								background: $black;
    							}
							}
						}
					}
				}

				.filter-item {
					margin-bottom: 20px;

					.filter-item-title {
						font-size: 16px;
						font-weight: 700;

						border-bottom: 1px solid $ui-2;
						padding-left: 30px;
						padding-bottom: 5px;
						margin-bottom: 5px;
					}

					.filter-item-body {
						padding: 0 30px;

						.form-check {
							margin-bottom: 5px;
						}
					}
				}
			}
		}

		.results-handler {
			padding-top: 35px;

			.results-label {
				font-size: 16px;
				opacity: 0.5;
			}

			.filters-applied {
				margin-top: 10px;
				margin-bottom: 10px;

				ul {
					display: flex;
					flex-wrap: wrap;

					list-style: none;
					margin: 0;
					padding: 0;

					li {
						display: flex;
						align-items: center;

						height: 40px;

    					border: 1px solid $ui-2;
						background: $secondary-1;

						border-top-left-radius: 7px;
    					border-bottom-left-radius: 7px;

    					padding-left: 15px;
    					margin-right: 20px;
    					margin-bottom: 10px;

    					.filter-name {
    						font-size: 18px;
							font-weight: 600;
							white-space: nowrap;
    					}

    					.close {
    						display: flex;
    						align-items: center;
    						justify-content: center;

    						width: 40px;
    						height: 100%;

    						color: $text-6;
    						background: $secondary-2;

    						margin-left: 10px;

    						text-shadow: none;
    						opacity: 1;

    						transition: $transition-1;

    						&:hover {
    							color: $black;
    						}
    					}
					}
				}
			}

			.find {
				display: flex;
				justify-content: center;

				width: 100%;

				margin-bottom: 40px;

				.btn {
					width: 60%;

					@include media-breakpoint-down(md) {
						width: 100%;
					}
				}
			}
		}
	}

	.list-menu {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;

		display: flex;

		width: 100%;
		height: 60px;

		background: $white;
		border-top: 1px solid $ui-1;

		z-index: 200;

		@include media-breakpoint-up(lg) {
			display: none;
		}

		.btn {
			height: auto;
			margin: 10px;

			padding: 0;

			&.btn-filter-toggle {
				background: $primary-2;
				width: 40px;

				.not-active {
					display: block;

					.icon {
						width: 28px;
	    				height: 28px;
					}
				}

				.active {
					display: none;

					i {
						color: $black;
						font-size: 32px;
					}
				}

				&.active {
					.active {
						display: block;
					}

					.not-active {
						display: none;
					}
				}
			}

			&.btn-whats {
				background: #4fbf64;
				flex: 1;
				margin: 10px 0;
				color: $black;
			}

			&.btn-email {
				background: $warning-2;
				width: 40px;

				.icon {
					width: 25px;
    				height: 25px;
				}
			}
		}
	}
}