#styleguide {
	background: $white;

	.navbar-brand {
		border: 0;
	}
	
	.style-section {
		padding-top: 55px;
		padding-bottom: 55px;

		border-bottom: 1px solid $ui-1;
	}

	.home-bg {
		background: url('assets/img/stylecell.png');
		padding: 20px;
		
	}

	.style-guide-title {
		@extend h2;

		color: $text-6;
		text-transform: uppercase;

		margin-bottom: 25px;
	}

	.style-guide-row {
		display: flex;
		flex-wrap: wrap;

		.style-guide-col {
			margin-right: 10px;
		}
	}

	.style-guide-cell {
		margin-top: 10px;
		margin-bottom: 45px;

		.code {
		    color: $text-6;
		    font-family: monospace;
		    font-size: 16px;
		    line-height: 1;

		    margin-bottom: 5px;
		}
	}	

	.palette {
		width: 170px;

		@include media-breakpoint-down(lg) {
			width: 145px;
		}

    	display: flex;
    	justify-content: flex-end;

    	padding-top: 15px;
		padding-right: 15px;

    	margin-bottom: 4px;

		&.palette-1 {
			height: 100px;
		}

		&.palette-2 {
			height: 50px;
		}

		.value {
			display: flex;
			align-self: flex-start;

			height: 20px;

			background: $white;
		    border-radius: 30px;
		    
		    color: $black;
		    font-size: 12px;
		    font-weight: bold;
		    line-height: 1;

		    padding: 4px 12px;

		    &.black {
		    	color: $white;
		    	background: $black;
		    }    
		}

		&.bordered {
    		border: 1px solid $ui-2;

    		.value {
				border: 1px solid $ui-2;    			
    		}
    	}

		&.primary-1 {
			background: $primary-1;
		}

		&.primary-2 {
			background: $primary-2;
		}

		&.secondary-1 {
			background: $secondary-1;
		}

		&.secondary-2 {
			background: $secondary-2;
		}

		&.gray-0 {
			background: $gray-0;
		}

		&.gray-1 {
			background: $gray-1;
		}

		&.gray-2 {
			background: $gray-2;
		}

		&.gray-3 {
			background: $gray-3;
		}

		&.text-1 {
			background: $text-1;
		}

		&.text-2 {
			background: $text-2;
		}

		&.text-3 {
			background: $text-3;
		}

		&.text-4 {
			background: $text-4;
		}

		&.text-5 {
			background: $text-5;
		}

		&.text-6 {
			background: $text-6;
		}

		&.ui-1 {
			background: $ui-1;
		}

		&.ui-2 {
			background: $ui-2;
		}

		&.ui-3 {
			background: $ui-3;
		}

		&.success-1 {
			background: $success-1;
		}

		&.success-2 {
			background: $success-2;
		}

		&.warning-1 {
			background: $warning-1;
		}

		&.warning-2 {
			background: $warning-2;
		}

		&.info-1 {
			background: $info-1;
		}

		&.info-2 {
			background: $info-2;
		}

		&.danger-1 {
			background: $danger-1;
		}

		&.danger-2 {
			background: $danger-2;
		}
	}
}